<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>About</title>
</head>
<body>
    <div class="title">
        <img src="/images/akio_toyoda_kv_w1920.jpg" alt="Akio" id="img-full">
        <h1>About</h1>
    </div>

    <div class="info">
        <p>
            Akio Toyoda was born on May 3, 1956. He graduated from Keio University with a degree in law in April 1979, and then from Babson College in the United States, with a master's degree in business administration in 1982. He joined Toyota Motor Corporation (TMC) in April 1984.
        </p>
        <p>
            Mr. Toyoda's career has included postings in every phase of automotive operations, including production, marketing and product development, both in Japan and internationally. Outside Japan, he served as an executive vice president and board member at New United Motor Manufacturing, Inc. (NUMMI), Toyota's production joint venture with General Motors in California, starting in April 1998. 
        </p>
        <p>
            In January 2000, he returned to Japan and was named to TMC's Board of Directors in June. In that capacity, he took on the creation and supervision of gazoo.com, a website that contains dozens of virtual shops for consumer goods and services and also provides information about new and used vehicles. Also during this time, he supervised domestic marketing operations, operations in the Americas, and production management consulting. In June 2001, Mr. Toyoda became the chief officer of the Asia & China Operations Center, and then in June 2002, he assumed the position of managing director. 
        </p>
        <p>
            In June 2003, Mr. Toyoda was made a senior managing director (this title was changed to senior managing officer as of June 2011), and, in January 2005, he became chief officer of both the China Operations Group and the Asia, Oceania & Middle East Operations Group. In June 2005, he became an executive vice president and a representative director, where he was responsible for IT & ITS, quality, product management, purchasing, Japan and overseas sales, and overseas operations. In June 2009, Mr. Toyoda became president of TMC. In April 2023, he became chairman of TMC. 
        </p>
    </div>

    <div class="links">
        <a href="/">Home</a>
        <a href="/works">Works</a>
    </div>

</body>
</html>