<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0">
    <title>Akio Toyoda</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="title">
        <h1>Akio Toyoda</h1>
        <h2>豊田章男</h2>
    </div>
    
    <div class="info">
        <p>Akio Toyoda (豊田 章男, Toyoda Akio, born 3 May 1956) is a Japanese business executive and the current Chairman and Former president & CEO of Toyota Motor Corporation. He is a great-grandson of the industrialist, Sakichi Toyoda, and a grandson of both the founder of Toyota Motors, Kiichiro Toyoda, and the founder of the Takashimaya department stores corporation, Shinshichi Iida.

        On 1 April 2023, Toyoda will step down as Toyota president and become chairman of the board.</p>
        <img src="/images/Akio_Toyoda_cropped_2_Mark_Templin_and_Akio_Toyoda_20110818_2.jpg" alt="Akio">
    </div>

    <div class="links">
        <a href="/about">About</a>
        <a href="/works">Works</a>
    </div>

</body>
</html>