<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1 class="title">Works</h1>
    <div class="info">
        <div class="info-cont">
            <img src="/images/akio-gazoo.jpg" alt="Akio">
            <h2>Master driver "Morizo"</h2>

            <p>As an avid auto racing fan and driver himself, Toyoda has promoted sports models including the Lexus ISF and
                Lexus LFA at auto races. He has participated as a driver at events including the 2009 24 Hours Nürburgring
                race employing the pseudonym Morizo Kinoshita. In 2009, he reached the 87th position overall and the fourth
                position in his class with his LF-A Prototype No. 14. <br><br>
            In 2016, Toyoda approved the project that would result in the GR Yaris; during the development of that car,
                Toyoda (as Morizo) served as a test driver. Morizo crashed the first test car during a mid-winter test drive
                at a Hokkaido track; after exiting the car on his own, he remarked that he did not "like the feel of it". As
                Morizo, Toyoda continued to drive development prototypes, and since the car's release, has campaigned the
                car in races.
            </p>
        </div>
    <!-- </div> -->

    <!-- <div class="info"> -->
        <div class="info-cont">
            <img src="/images/akio_toyoda.top.jpg" alt="AKio">
            <h2>Toyota global recalls and Congressional Statement</h2>
            <p>
                In the wake of massive global recalls ballooning to 8.5 million vehicles, Toyoda was invited to testify
                before the U.S. Congress on 17 February 2010, which he accepted. A week later, he issued a prepared
                statement to the Congress. He focused on three key issues: Toyota's basic philosophy regarding quality
                control, the cause of the recalls, and "how we will manage quality control going forward".[20] On 24
                February 2010, accompanied by president and COO of Toyota Motor North America, Yoshimi Inaba, Toyoda
                testified before the House of Representatives' Oversight and Government Reform Committee. As the scion of a
                family known for their contributions to automated manufacturing, Toyoda was personally affected by the
                quality control crises. In his comments he is quoted as being "deeply sorry" and highlighted the
                relations between Toyota vehicles in the United States and Americans for fifty years.
            </p>
        </div>
    <!-- </div> -->
        


    <!-- <div class="info"> -->
        <div class="info-cont">
            <img src="/images/future.jpeg" alt="">
            <h2>Future directions of Toyota</h2>
            <p>
                At a press event held on December 14, 2021, where Toyota unveiled multiple concept cars with battery
                electric drivetrains, Toyoda was asked how he felt about BEVs, given the company's prior emphasis on
                emissions reduction and elimination through hybrid and hydrogen vehicles. Toyoda responded both as chair and
                master driver: "Of course I supported BEVs in terms of business, but the question was whether I was
                supporting them as driver Morizo. ... I think we are now at a point where we can develop safer and faster
                vehicles with more fun-to-drive aspects. I look forward to developing such BEVs as well moving forward."
            </p>
        </div>
    </div>
    <img src="/images/og.jpg" alt="Akio">
    <div class="links">
        <a href="/">Home</a>
        <a href="/about">About</a>
    </div>
</body>

</html>